   footer {
      background-color: #212529;
      color: #fff;
      padding: 40px 0;
      border: 2px solid white;
      height: 200px;
    }
    footer a {
      color: #adb5bd;
      text-decoration: none;
    }
    footer a:hover {
      color: #fff;
    }